# Special Data Types in Pyhton

1. List

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'apple','orange', 'banana']
print(fruits)

['apple', 'banana', 'cherry', 'apple', 'orange', 'banana']

2. Tuple

In [7]:
type(fruits)

set

In [2]:
fruits = ('apple','banana','cherry', 'apple','orange','banana')
print(fruits)

('apple', 'banana', 'cherry', 'apple', 'orange', 'banana')

3. Set

In [3]:
fruits = {"apple", "banana", "cherry" ,"apple", "orange","banana"}
print(fruits)

{'cherry', 'banana', 'orange', 'apple'}

4. Dictionary

In [5]:
Student = {'name':'John Doe', 'age':20, 'class':'10th', 'marks':85}
print(Student)

{'name': 'John Doe', 'age': 20, 'class': '10th', 'marks': 85}

Type Casting

In [9]:
b = 5
print(b)
type(b)

5

int

In [ ]:
# typecasting {integer to string conversion}
b = 5
c = str(b)
print(c)
type(c)

5

str

In [11]:
a = input("Enter a number: ")
print(a)
type(a)

5

str

In [12]:
a = int(input("Enter a number:"))
print(a)
type(a)

8

int