In [9]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

- create_engine : It is used to make connection from the database.
- column : It defines columns in database
- Integer and String : Datatype of values in database.

In [10]:
engine = create_engine('sqlite:///user.db')

In [11]:
#this line is needed to create the table 
Base = declarative_base()

In [12]:
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    password = Column(String)

In [13]:
Base.metadata.create_all(engine)

In [14]:
Session = sessionmaker(bind=engine)  #this line tells the sessionmaker to use the engine we created
session = Session()   #this line creates a session object

In [15]:
#add a new user
new_user = User(name="Alice", password='27536')
session.add(new_user)
session.commit()

In [16]:
#add a new user
new_user = User(name="John", password='abrakadabra')
session.add(new_user)
session.commit()

In [19]:
#add a new user
new_user = User(name="Navya", password='2504')
session.add(new_user)
session.commit()

In [ ]:
#retrieve all users
users = session.query(User).all()
# .all() : It is used to display all the data.
for user in users:
    print(f'ID: {user.id},Name: {user.name}, Password: {user.password}')

ID: 1,Name: Alice, Password: 27536
ID: 2,Name: John, Password: abrakadabra
ID: 3,Name: Navya, Password: 8973
ID: 4,Name: Navya, Password: 2504

In [21]:
#update the user
user = session.query(User).filter_by(id = 3).first()
user.name = 'Eshita'
session.commit()

In [22]:
#retrieve all users
users = session.query(User).all()
# .all() : It is used to display all the data.
for user in users:
    print(f'ID: {user.id},Name: {user.name}, Password: {user.password}')

ID: 1,Name: Alice, Password: 27536
ID: 2,Name: John, Password: abrakadabra
ID: 3,Name: Eshita, Password: 8973
ID: 4,Name: Navya, Password: 2504

In [23]:
#delete a user
user = session.query(User).filter_by(id = 2).first()
session.delete(user)
session.commit()

In [24]:
#retrieve all users
users = session.query(User).all()
# .all() : It is used to display all the data.
for user in users:
    print(f'ID: {user.id},Name: {user.name}, Password: {user.password}')

ID: 1,Name: Alice, Password: 27536
ID: 3,Name: Eshita, Password: 8973
ID: 4,Name: Navya, Password: 2504