# Loops in Python

1. For Loop

In [ ]:
fruits = ['apple', 'banana','cherry', 'date', 'blueberry']
for i in fruits:
    print(i)

apple
banana
cherry
date
blueberry

In [ ]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10,2):
    print(i)

2
4
6
8

it also count the element which is already printed .

Ques  Write the program using for loop to print the name 10 times.

In [ ]:
Name = 'Ishita Mishra'
for  i  in range(11):
    print(Name)

Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra

Ques  Write the program using for loop to print the even numbers from 0 to 20 but without condition.

In [ ]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

Ques  Write the program using for loop to print the odd numbers from 0 to 20.

In [ ]:
for i in range(0,21):
    if (i%2!=0):
        print(i)

1
3
5
7
9
11
13
15
17
19

While Loop

Write the program using while loop to print 10 numbers from 0 to 10.

In [ ]:
i = 0
while i<=10:
    print(i)
    i +=1

0
1
2
3
4
5
6
7
8
9
10

Ques  Write the program using while loop to print the name 10 times.

In [ ]:
Name = 'Ishita Mishra'
i = 0
while i<=10:
    print(Name)
    i +=1

Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra
Ishita Mishra

Ques   Write the program using while loop to print the even numbers from 0 to 20 without condition.

In [ ]:
i = 0
while(i<=20):
    print(i)
    i+=2

0
2
4
6
8
10
12
14
16
18
20

Ques.  Write the program using while loop to print the odd numbers from 0 to 20.

In [ ]:
i = 0
while (i<=20):
    if(i%2!=0):
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

# Break and Continue

In [ ]:
fruits = ['apple', 'banana','cherry', 'date', 'blueberry', 'onion', 'banana', 'Kiwi', 'apple']
for i in fruits:
    if i == 'onion':
        break
    print(i)

apple
banana
cherry
date
blueberry

In [ ]:
fruits = ['apple', 'banana','cherry', 'date', 'blueberry', 'onion', 'banana', 'Kiwi', 'apple']
for i in fruits:
    if i == 'onion':
        continue
    print(i)

apple
banana
cherry
date
blueberry
banana
Kiwi
apple

In [ ]:
fruits = ['apple', 'banana','cherry', 'date', 'blueberry', 'onion', 'banana', 'Kiwi', 'apple']
for i in fruits:
    if i == 'onion':
        pass
    print(i)

apple
banana
cherry
date
blueberry
onion
banana
Kiwi
apple

In [4]:
for i in range(3):
    for j in range(1,4):
        print(j)
    print()

1
2
3

1
2
3

1
2
3

In [7]:
i = 1
while i<4:
    for j in range(1,4):
        print(j)
    print()
    i +=1

1
2
3

1
2
3

1
2
3

In [8]:
for num in range(2,10):
    for i in range(2,num):
        if num%i ==0:
            break
        else:
            print(num)

3
5
5
5
7
7
7
7
7
9