- How to create dictionary
- How to access pairs in dictionary
- How to run a loop in dictionary
- How to make a nested dictionary
- Indexing in dictionary

# Creation of dictionary

In [1]:
Student  = {"Name":"Riya","Age":20,"Course":"BCA","Marks": 87}
print(Student)

{'Name': 'Riya', 'Age': 20, 'Course': 'BCA', 'Marks': 87}

Another way to create a dictionary

In [1]:
info = dict(name = input("enter the name"), age = 20, Course = "MBA",Marks = 90)
print(info)

{'name': 'ishita', 'age': 20, 'Course': 'MBA', 'Marks': 90}

Accessing of Keys from the dictionary

In [4]:
Student.keys()

dict_keys(['Name', 'Age', 'Course', 'Marks'])

How to store multiple values in a single key

In [5]:
temp = {'lucknow':[30,35,45],
        'delhi' :[56,98,76],
        'chennai' :[23,87,54]
}
print(temp)

{'lucknow': [30, 35, 45], 'delhi': [56, 98, 76], 'chennai': [23, 87, 54]}

In [ ]:
# accessing the values by using the Keys
temp['lucknow']

[30, 35, 45]

In [7]:
Student.values()

dict_values(['Riya', 20, 'BCA', 87])

In [8]:
info.get("age")

20

In [9]:
# Adding new key and value pair in the dictionary
info['City'] = "lucknow"

In [2]:
info = dict(name = input("enter the name"), age = 20, Course = "MBA",Marks = 90)
print(info)

{'name': 'Ishita', 'age': 20, 'Course': 'MBA', 'Marks': 90}

# Accessing the Keys of Dictionary by using for loop

In [5]:
Student  = {"Name":"Riya","Age":20,"Course":"BCA","Marks": 87}
for i in Student :
    print(i)

Name
Age
Course
Marks

Accessing the items of dictionary by using for loop

In [4]:
for i,j in Student.items():
    print(f'{i} : {j}')

Name : Riya
Age : 20
Course : BCA
Marks : 87

Key Method

In [9]:
print(Student.keys())

dict_keys(['Name', 'Age', 'Course', 'Marks'])

Values Method

In [10]:
print(Student.values())

dict_values(['Riya', 20, 'BCA', 87])

Items Method

In [11]:
print(Student.items())

dict_items([('Name', 'Riya'), ('Age', 20), ('Course', 'BCA'), ('Marks', 87)])

# Nested Dictionary

In [34]:
company = {
    'emp001' : {
        'name' : 'Alice',
        'dept' : 'Finance',
        'Salary' : 50000
    },
    'emp002' : {
        'name' : 'Bob',
        'dept' : 'Marketing',
        'Salary' : 45000
    },
    'emp003' : {
        'name' : 'Smith',
        'dept' : 'IT',
        'Salary': 70000
    }
    }
print(company)

{'emp001': {'name': 'Alice', 'dept': 'Finance', 'Salary': 50000}, 'emp002': {'name': 'Bob', 'dept': 'Marketing', 'Salary': 45000}, 'emp003': {'name': 'Smith', 'dept': 'IT', 'Salary': 70000}}

# P print : Pretty - Printing

"P print" refers to the pretty-printing, which is a way of formatting the output of complex data structures to make them more readable and visually appealing. This is primarily achieved using the pprint module in Python's standard library.

In [13]:
from pprint import pprint

In [14]:
pprint(company)

{'emp001': {'Salary': 50000, 'dept': 'Finance', 'name': 'Alice'},
 'emp002': {'Salary': 45000, 'dept': 'Marketing', 'name': 'Bob'},
 'emp003': {'Salary': 70000, 'dept': 'IT', 'name': 'Smith'}}

Add the new key-value pair in the dictionary.

In [36]:
company['emp004'] = {

'name' : "John",
'dept' : "Marketing",
'Salary' : 97000
}
print(company)

{'emp001': {'name': 'Alice', 'dept': 'Finance', 'Salary': 50000}, 'emp002': {'name': 'Bob', 'dept': 'Marketing', 'Salary': 45000}, 'emp003': {'name': 'Smith', 'dept': 'IT', 'Salary': 70000}, 'emp004': {'name': 'John', 'dept': 'Marketing', 'Salary': 97000}}

Access the value by using the Keys of dictionary.

In [25]:
company['emp002']['dept']

'Marketing'

Find the average temperature of lucknow by using the sum and len function.

In [31]:
temp = {'lucknow':[30,35,45],
        'delhi' :[56,98,76],
        'chennai' :[23,87,54]
}

print(sum(temp['lucknow'])/len(temp['lucknow']))

36.666666666666664